.header {
    background: #4CB3AB;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  
  .header .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .header .btn {
    font-size: 1em;
    color: #FFFFFF;
    background-color: #4CB3AB;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .header .btn:hover {
    background-color: #3a8f87;
  }